<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Here's your API key: <%= @user.apikey %>
    </p>
    <p>
      Check out the docs!
    </p>
  </body>
</html>